# Ignorar archivos de configuración que contengan credenciales
config.py
.env
*.env
*.log
tokens.db
# Ignorar archivos de compilación o temporales
*.pyc
__pycache__/

# Ignorar el entorno virtual
venv/
basura/